In [1]:
import datetime

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
mpl.rcParams['figure.figsize'] = [16., 9.]

In [3]:
dtypes_dict = {"M"+str(key):np.float32 for key in range(1,9)}
dtypes_dict["DaysToExp"] = np.int32
dataframe = pd.read_csv("data/VIX Futures min.csv", usecols=[0] + list(range(2,10)) + [11],
                        index_col=0, dtype=dtypes_dict, parse_dates=[0])

In [4]:
dataframe = dataframe.loc["2006-10-23":"2017-05-11"]

In [5]:
cond = (dataframe.index + datetime.timedelta(days=1)).isin(dataframe.index)
useful_indices = dataframe.index.where(cond).dropna()
this_term = dataframe.loc[useful_indices,"M1":"M8"]
next_term = dataframe.loc[useful_indices + datetime.timedelta(days=1),"M1":"M8"]

In [6]:
assert this_term.dropna(how="all").shape == this_term.shape
assert next_term.dropna(how="all").shape == next_term.shape
assert this_term.shape == next_term.shape

In [7]:
this_term.join(dataframe.loc[:,"DaysToExp"])

,M1,M2,M3,M4,M5,M6,M7,M8,DaysToExp
time,,,,,,,,,
2006-10-23 08:30:00,12.240,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:31:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:32:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:33:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:34:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:35:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:36:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:37:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:38:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:39:00,12.440,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:40:00,12.440,13.400,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:41:00,12.400,13.400,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:42:00,12.400,13.400,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:43:00,12.400,13.400,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:44:00,12.400,13.300,NaN,14.570,NaN,NaN,15.650000,NaN,16
2006-10-23 08:45:00,12.400,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:46:00,12.400,13.310,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:47:00,12.360,13.310,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:48:00,12.360,13.310,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:49:00,12.360,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:50:00,12.360,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:51:00,12.360,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:52:00,12.300,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:53:00,12.300,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:54:00,12.300,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:55:00,12.300,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:56:00,12.270,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:57:00,12.270,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:58:00,12.270,13.300,NaN,14.710,NaN,NaN,15.720000,NaN,16
2006-10-23 08:59:00,12.270,13.300,NaN,14.650,NaN,NaN,15.700000,NaN,16
...,...,...,...,...,...,...,...,...,...
2017-05-10 14:46:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.375000,5
2017-05-10 14:47:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.375000,5
2017-05-10 14:48:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:49:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:50:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:51:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:52:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:53:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:54:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:55:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:56:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:57:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:58:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 14:59:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:00:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:01:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:02:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:03:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:04:00,11.475,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:05:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:06:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.350000,5
2017-05-10 15:07:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:08:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:09:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:10:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:11:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:12:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:13:00,11.525,12.475,13.675,14.425,15.325,15.775,16.174999,16.325001,5
2017-05-10 15:14:00,11.525,12.475,13.675,14.425,15.275,15.725,16.125000,16.299999,5
2017-05-10 15:15:00,11.525,12.475,13.675,14.425,15.275,15.725,16.125000,16.299999,5

In [8]:
next_term

,M1,M2,M3,M4,M5,M6,M7,M8
time,,,,,,,,
2006-10-24 08:30:00,11.880,13.150,NaN,14.510,NaN,NaN,15.700000,NaN
2006-10-24 08:31:00,11.970,13.150,NaN,14.510,NaN,NaN,15.700000,NaN
2006-10-24 08:32:00,11.970,13.150,NaN,14.510,NaN,NaN,15.700000,NaN
2006-10-24 08:33:00,11.970,13.150,NaN,14.510,NaN,NaN,15.700000,NaN
2006-10-24 08:34:00,11.970,13.150,NaN,14.510,NaN,NaN,15.700000,NaN
2006-10-24 08:35:00,11.970,13.150,NaN,14.660,NaN,NaN,15.700000,NaN
2006-10-24 08:36:00,11.900,13.150,NaN,14.660,NaN,NaN,15.700000,NaN
2006-10-24 08:37:00,11.900,13.250,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:38:00,11.920,13.200,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:39:00,11.920,13.200,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:40:00,11.900,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:41:00,11.900,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:42:00,11.900,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:43:00,11.900,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:44:00,11.890,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:45:00,11.890,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:46:00,11.890,13.140,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:47:00,11.850,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:48:00,11.850,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:49:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:50:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:51:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:52:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:53:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:54:00,11.900,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:55:00,11.850,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:56:00,11.850,13.190,NaN,14.700,NaN,NaN,15.700000,NaN
2006-10-24 08:57:00,11.850,13.190,NaN,14.650,NaN,NaN,15.700000,NaN
2006-10-24 08:58:00,11.850,13.190,NaN,14.650,NaN,NaN,15.700000,NaN
2006-10-24 08:59:00,11.830,13.140,NaN,14.650,NaN,NaN,15.700000,NaN
...,...,...,...,...,...,...,...,...
2017-05-11 14:46:00,11.425,12.475,13.625,14.325,15.225,15.675,16.125000,16.275000
2017-05-11 14:47:00,11.425,12.475,13.625,14.325,15.225,15.675,16.125000,16.275000
2017-05-11 14:48:00,11.425,12.475,13.575,14.325,15.225,15.675,16.125000,16.275000
2017-05-11 14:49:00,11.425,12.475,13.625,14.325,15.225,15.675,16.125000,16.275000
2017-05-11 14:50:00,11.425,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:51:00,11.425,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:52:00,11.425,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:53:00,11.475,12.475,13.575,14.325,15.225,15.675,16.125000,16.275000
2017-05-11 14:54:00,11.475,12.525,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:55:00,11.475,12.525,13.625,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:56:00,11.475,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:57:00,11.475,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:58:00,11.475,12.475,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 14:59:00,11.425,12.425,13.575,14.275,15.175,15.675,16.075001,16.275000
2017-05-11 15:00:00,11.425,12.475,13.575,14.275,15.175,15.675,16.075001,16.275000
2017-05-11 15:01:00,11.475,12.475,13.575,14.275,15.175,15.675,16.075001,16.275000
2017-05-11 15:02:00,11.475,12.475,13.575,14.275,15.175,15.675,16.075001,16.275000
2017-05-11 15:03:00,11.525,12.525,13.575,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 15:04:00,11.525,12.525,13.625,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 15:05:00,11.525,12.525,13.625,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 15:06:00,11.475,12.525,13.625,14.325,15.225,15.675,16.075001,16.275000
2017-05-11 15:07:00,11.475,12.525,13.625,14.375,15.275,15.725,16.125000,16.325001
2017-05-11 15:08:00,11.475,12.525,13.625,14.325,15.225,15.725,16.125000,16.299999
2017-05-11 15:09:00,11.475,12.525,13.625,14.325,15.225,15.725,16.125000,16.299999
2017-05-11 15:10:00,11.475,12.575,13.625,14.375,15.275,15.725,16.125000,16.325001
2017-05-11 15:11:00,11.475,12.575,13.625,14.375,15.275,15.725,16.125000,16.299999
2017-05-11 15:12:00,11.475,12.575,13.625,14.375,15.275,15.725,16.125000,16.299999
2017-05-11 15:13:00,11.425,12.575,13.625,14.375,15.275,15.725,16.125000,16.325001
2017-05-11 15:14:00,11.425,12.625,13.675,14.375,15.275,15.725,16.125000,16.299999
2017-05-11 15:15:00,11.425,12.625,13.675,14.375,15.275,15.725,16.125000,16.299999

In [9]:
np.nanmean(np.square(next_term.values - this_term.values))

0.53111881